body
{
background-image:url("rohith.jpeg");
background-repeat:repeat;
background-attachment:fixed;
}

p{
color:white;
word-spacing:15mm;
font-size:20pc;
padding:25px;
font-size:16pt;line-lenght:125%;
}
h1{
color:white;
word-spacing:15mm;
}
